@import '_var.scss';


/* Helper */

.bg-primary {
    background:$primary;
}
.bg-secundary {
    background:$secondary;
}


//Introduction
.introduction {
    min-height: 460px;
    background-image: url('images/bg-intro.jpg');
    background-size: cover;
    padding: 70px 0;

    h1 { 
        margin-top: 0;
    }
}

.list-checkmark-circle {
    padding: 10px 0;
}



.video-container {
    width: 540px;
    height: 300px;
    border: 2px solid $white;
    box-shadow: 0px 0px 15px 0px $black-li;
}

//Tabs
.ui-tabs {
    padding: 0;
}

.ui-tab {
    @include transition-all(300ms);
    background: $gray-hi;
    min-height: 100px;
    display: inline-block;
    list-style: none;
    width: calc(100%/7.2);
    font-size: 0.9em;
    font-weight: 700;
    position: relative;
}

.ui-tab.active {
    background: $secondary;

    a {
        color: #fff;
    }
}

.ui-tab .icon {
    font-size: 1.8em;
    display: block;
    padding: 8px 0 12px 0;
}

.ui-tab:hover {
    background-color: lighten($secondary, 10%);
}

.ui-tab a {
    text-decoration: none;
    float: left;
    padding: 15px 0;
    width: 100%;
    min-height: 100px;
    height: 100%;
    display: block;
}

.tab-content {
    padding-bottom: 30px;

    img {
        width: 80%;
        min-width: 300px;
    }
}

//Simply Scroll
.partijen .simply-scroll-container {
    position: relative;
}

.partijen {
    background: $gray-li;
}

.partijen .simply-scroll-clip {
    position: relative;
    overflow: hidden;
    padding: 40px 0;
}

.partijen .simply-scroll-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.simply-scroll .simply-scroll-list li {
    float: left;
    width: 160px;
    height: 60px;
}

//Pricebox
.pricing {
    margin-top: 50px;
    margin-bottom: 70px;

    h2 {
        margin-bottom: 30px;
    }
}

.pricebox {
    padding: 10px;
    margin-top: 5px;
    background: $gray-md;

    h3 {
        color: $primary;
        text-align: center;
    }
}


/* Pricebox new */

.m-pricing-box {

    .price-label {
        color:$white;
        padding:15px;

        h1{
            display:inline-block;
            font-size:4em;
            font-weight:normal;
            margin-bottom:20px;
            margin-top:5px;

            sup {
                top:0;
                font-size: 0.2em;
            }
        }
    }

    .panel-body {
        padding:0;

        ul {
            padding:0 15px;
        }

        li {
            border-bottom:1px dashed $black;
            padding: 10px 0 10px 0;
            list-style:none;

            &:last-child {
                border:none;
            }
        }

    }
}


.m-pricing-table {
    text-align:center;

    .glyphicon-ok {
        color:$green;
    }

    th { 
        text-align:center;        
    }

    th:first-child, td:first-child {
        text-align:left;
        width: 15%;
    }

    th, td {
        width: 28%;
    }


}

.m-add-info {
    font-size:0.8em;
    opacity: 0.5;
}


/* Wells */

.well {
    margin-top:30px;
    padding:0;
    background:$white;
    border:0;
    box-shadow:none;

}

/* Titles */

h2 {
    margin: 40px 0 40px 0;
}

/* Backgrounds */

.bg-secundary-light {
    background:lighten($secondary,20%); 
}

.bg-primary-light {
    background:lighten($primary,5%);
}

.bg-combi-light {
    background:lighten($green,20%);
}


.price-module {
    margin: 5px 0;
}

.price-list {
    line-height: 30px;
    margin: 0;

    li {
        border-bottom: 1px dashed $black-li;
        padding: 10px 0 10px 0;
    }

    li:last-child {
        border: none;
    }
}

.pricelabel {
    background: $secondary;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 0;
}

.pricelabel-aanbieding {
    @extend .pricelabel;
    padding: 0;
    height:43px;

    span:first-child {
        text-decoration: line-through;
    }    
}

.aanbieding-tag {
        display: inline-block;
        transform: rotate(-7deg);
        background: $yellow;
        color: $black;
        padding: 4px 8px;
        font-size: 1.4em;
    }


.price-freq {
    font-weight: 400;
}

.module-title, .module-price {
    font-size: 1.1em;
    font-weight: 700;
}

.module-price {
    float: right;
    font-size: 1.1em;
}

.module-description {
    margin-top: 5px;
    font-size: 0.9em;
}

.scrollup {
    width: 30px;
    height: 30px;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    display: none;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background: rgba(0, 0, 0, .3);
    color: #fff;
}

.scrollup:before {
    font-family: 'icomoon';
    content: "\ed71";
}

.scrollup:hover, .scrollup:focus {
    text-decoration: none;
}

//PreFooter
.prefooter {
    background: $secondary;
    padding: 30px;
    color: #fff;

    h3 {
        color: #fff;
        font-size: 1em;
        margin: 10px 0;
    }

    h3.sub-title {
        font-weight: 300;
    }
}

/*==========  Non-Mobile First Method  ==========*/
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .video-container {
        width: 100%;
        height: 196px;
    }

    .ui-tab {
        width: 100%;
    }
}


.deno-footer-image {
    width: 220px;
    float: right;
    padding: 5px;
    margin: 10px 25px;
}

/* Panels */

.panel-default > .panel-heading.panel-heading-primary {
    background:$primary;
    border:none;
}

.panel-default > .panel-heading.panel-heading-secundary {
    background:$secondary;
    border:none;
}

.panel-default > .panel-heading.panel-heading-combi {
    background:$green;
    border:none;
}

/* Colors  */
 
.text-white {
    color:$white;
}

/* spacing */

.m-spacing-bottom {
    margin-bottom:30px;
}
.m-spacing-top {
    margin-top:30px;
}

.m-spacing-padding {
    padding:50px;
}
.hw-title {
    margin-top: 80px;
}
/* Text decoration */

.m-text-linethrough {
    text-decoration: line-through;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.slides-container {
    li .container {
        color: $white;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        .maintitle {
            @extend .m-spacing-bottom;
            font-size: 57px;
            line-height: 67px;
            color: $white;
        }
        hr {
            margin: 0 25%;
            width: auto;
            border-color: $primary;
        }
        .contrast {
            @extend .m-spacing-top;
            font-size: 30px;
            font-weight: 300;
            line-height: 40px;
        }
    }
}

@media only screen and (max-width: 767px){
    .slides-container li .container .maintitle {
        font-size: 32px;
    }
    .slides-container li .container .contrast {
        font-size: 20px;
    }
}