@import '_var.scss';

/* Titles */

h2 {
    margin: 40px 0 40px 0;
}

/* spacing */

.m-spacing-bottom {
    margin-bottom:30px;
}
.m-spacing-top {
    margin-top:30px;
}

.m-spacing-padding {
    padding:50px;
}
.hw-title {
    margin-top: 80px;
}
/* Text decoration */

.m-text-linethrough {
    text-decoration: line-through;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.slides-container {
    li .container {
        color: $white;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        .maintitle {
            @extend .m-spacing-bottom;
            font-size: 57px;
            line-height: 67px;
            color: $white;
        }
        hr {
            margin: 0 25%;
            width: auto;
            border-color: $brand-primary;
        }
        .contrast {
            @extend .m-spacing-top;
            font-size: 30px;
            font-weight: 300;
            line-height: 40px;
        }
    }
}

@media only screen and (max-width: 767px){
    .slides-container li .container .maintitle {
        font-size: 32px;
    }
    .slides-container li .container .contrast {
        font-size: 20px;
    }
}